{% extends 'movies/partials/base.html' %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'movies/css/home.css' %}">
{% endblock extra_head %}



{% block content %}
<main>
    <h1>Movie Listings @ GV Cinema</h1>

    <input type="text" placeholder="search movies..." id="movie-filter" onkeyup="myFunction()">
    <hr>

    <h2>Popular Movies this month</h2>
    <div class="movies" id="movies-container">
        {% for movie in movies %}
        <div class="movie-card">
            <img src="{{ movie.image.url }}">

            <h3 class="movie-title"><a href="{{ movie.get_absolute_url }}">{{ movie.name}}</a></h3>
            <p>{{ movie.duration }} min</p>
            <p>User Rating: {{ movie.user_rating }}</p>
        </div>
        {% empty %}
        <h2>No Movies Found</h2>
        <p>Either run this command <code>python manage.py loadjsontodb</code> or <a
                href="{% url 'admin:movies_movie_add' %}" style="text-decoration:underline; color: blue">add new
                movies</a></p>
        {% endfor %}

    </div>
</main>

<script>
    function myFunction() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("movie-filter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("movies-container");
        cards = cardContainer.getElementsByClassName("movie-card");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector("h3.movie-title");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "flex";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>
{% endblock content %}